* {
    box-sizing: border-box;
}

.Navbar {
    position: fixed;
    width:calc(100vw - 375px);
    height: 75px;
    margin-left: 375px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#383838+0,2d2d2d+100 */
    background: #383838; /* Old browsers */
    background: -moz-linear-gradient(top,  #383838 0%, #2d2d2d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #383838 0%,#2d2d2d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #383838 0%,#2d2d2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#2d2d2d',GradientType=0 ); /* IE6-9 */

}

.Navbar__LogoFlexbox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid red; */
    height: 100%;
    font-size: 3em;
    padding-right: 0.4em;
    color: white;
    font-family: 'GothamRounded-Bold', Arial, Helvetica, sans-serif;
    user-select: none;
}

.ProductLogo {
    max-height: 1em;
    padding-right: 0.2em;
  }