.NoProfiles {
    width: 380px;
    height: 570px;
    /* border: 1px solid rgba(0,0,0,0.9); */
    /* border: 1px solid #494949; */
    border-radius: 0.6em;
    margin: 10em auto 0 auto;
    background: white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;

    -webkit-box-shadow: 0px 9px 10px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 10px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 10px 1px rgba(0,0,0,0.75);
    z-index: 0;

    animation: fadeInDown 1.0s;

    /* transition: 0.5s ease; */
    
}