.EditMyProfile__Container {
    /* z-index: 0; */
    /* border: 1px solid pink; */
    color: white;
    display: flex;
    flex-flow: column-reverse nowrap;
    height: 100%;
    width: 100%;


    /* align-self: flex-end; */
}


.EditMyProfile {
    /* border: 1px solid yellow; */
    width: 100%;
    height: 40px;
    border-radius: 0.7em 0.7em 0 0;

    color: #1f1f1f;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    /* align-content: center; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    animation-name: fadeInUp;
    animation-duration: 1.0s;
    animation-delay: 500ms;
    animation-fill-mode: backwards;


    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    /* height: 50px; */
    /* width: 50%; */
    border: none;
    /* border:1px solid #dcdcdc; */
    border: 1px solid #ccc;
    /* opacity: 1 */
    
}

.EditExpanded {
    justify-content: flex-start;
    padding-top: 0.1em;
    transition: 0.5s ease;
}

.EditMyProfile:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
    transition: 0.5s ease;

}

.EditButton {
    width: 100%;
    cursor: pointer;
}

.larger {
    height: 150px;
    transition: 0.5s ease;
}


.DevProfile__Controls__Form {
    /* border-top: 1px solid #ccc; */
    /* border-bottom: 1px solid #ccc; */
    max-width: 80%;
    margin: 0 auto;
    font-weight: normal;
}

.DevProfile__Controls__Title {
    /* display: inline; */
    text-align: left;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
}

.DevProfile__Controls__Submit {
        background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
        border: 1px solid #ccc;
        border-radius: 0.5em;
        /* width: 80%; */

        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        user-select: none;
        padding: 0.5em 1em;
        margin-top: 1em;
        /* margin-left: auto; */
        /* text-align: right; */
        float: right;
    
}
.DevProfile__Controls__Submit:hover {
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    background-color:#f6f6f6;
    transition: 0.5s ease;
}

.DevProfile__Controls__Submit:focus {
    outline: none;
}
