* {
    box-sizing: border-box;
} 


.DevCard {
    width: 100%;
    min-width: 375px;
    height: 100vh;
    background: rgb(240, 239, 239);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .06fr .82fr .12fr;
    z-index: 0;
    animation: fadeInDown 1.0s;

}


.DevCard .DevCard__Icon {
    width:25px;
    height:25px;
}
.DevCard__UserInfo__GithubRepos {
    display: none;
}
.DevCard__UserInfo {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    height: 100%;
    font-weight: 500;
}
.DevCard__UserInfo__IntroPic {
    position: relative;
    height: 100%;
}
.stats {
    width: 100%;
}
.hidden {
    display: none;
}
.DevCard__UserInfo__Name {
    width: 100%;
    position: relative;
    color: black;
    background-color: rgba(240, 239, 239, 0.247);
    top: 0;
    left: 0;
    max-height: 28vh;
    padding: 8px 0 25px 10px;
    z-index: 1000;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    width: 100%;
    font-size: 32px;
    justify-content: left;
    text-align: left;
}
.DevCard__ProPic {
    height:auto;
    width: 100%;
    border-radius: 8px;
}

.text__username {
    font-size: 32px;
    font-weight: 650;
    padding-left: 5px;
}
.text__job {
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
}
p {
    font-size: 14px;
}

.DevCardButton__Container {
    position: relative;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media screen and (min-width: 766px) {
    .DevCard .NavBarMobile {
      display: none;
    }
    .DevCard {
        max-width: 375px;
        height: 667px;
        max-height: calc(100vh - 99px);
    }

    .DevCard .DevCardButton__Container {
        position: relative;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }
    
  }